-- Chat images bucket cleanup and setup
-- Ensure chat_images bucket is public
INSERT INTO storage.buckets (id, name, public)
VALUES ('chat_images', 'chat_images', true)
ON CONFLICT (id) DO UPDATE SET public = true;

-- Policy: Allow everyone to SELECT images in chat_images
DROP POLICY IF EXISTS "Chat images are public" ON storage.objects;
CREATE POLICY "Chat images are public"
ON storage.objects FOR SELECT
USING (bucket_id = 'chat_images');

-- Policy: Authenticated users can INSERT images
DROP POLICY IF EXISTS "Users can upload chat images" ON storage.objects;
CREATE POLICY "Users can upload chat images"
ON storage.objects FOR INSERT
TO authenticated
WITH CHECK (bucket_id = 'chat_images');

-- Policy: Users can DELETE their own uploaded images
DROP POLICY IF EXISTS "Users can delete their own chat images" ON storage.objects;
CREATE POLICY "Users can delete their own chat images"
ON storage.objects FOR DELETE
TO authenticated
USING (bucket_id = 'chat_images' AND auth.uid() = owner);
