\-- Add size column to products table
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS size text;

-- Create follows table
CREATE TABLE IF NOT EXISTS public.follows (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    follower_id uuid REFERENCES auth.users(id) ON DELETE CASCADE,
    following_id uuid REFERENCES auth.users(id) ON DELETE CASCADE,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    UNIQUE(follower_id, following_id)
);

-- Enable RLS on follows
ALTER TABLE public.follows ENABLE ROW LEVEL SECURITY;

-- Policies for follows
CREATE POLICY \\\Users
can
follow
anyone\\\ ON public.follows
    FOR INSERT WITH CHECK (auth.uid() = follower_id);

CREATE POLICY \\\Users
can
unfollow
anyone\\\ ON public.follows
    FOR DELETE USING (auth.uid() = follower_id);

CREATE POLICY \\\Follows
are
public\\\ ON public.follows
    FOR SELECT USING (true);\
